Package: com.551uk.yukabypass14
Name: Yuka Repair iOS 14
Version: 2.1.5
Architecture: iphoneos-arm
Description: Restores Yuka 4.38 online functionality on iOS 14.
Maintainer: 551UK
Author: 551UK
Section: Tweaks
Depends: firmware (>= 14.0), firmware (<< 15.0), mobilesubstrate
Homepage: https://github.com/551UK/YukaApp-Bypass-iOS14
