Package: com.551uk.yukabypass14
Name: Yuka Launch Diagnostic iOS 14
Version: 2.0.1
Architecture: iphoneos-arm
Description: Diagnostic-only build to find why Yuka 4.38 closes on launch. Does not spoof or change app/network behaviour.
Maintainer: 551UK
Author: 551UK
Section: Tweaks
Depends: firmware (>= 14.0), firmware (<< 15.0), mobilesubstrate
Homepage: https://github.com/551UK/YukaApp-Bypass-iOS14
